@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* APPLICATION-WIDE */
/* color scheme:

general: #2e323b
header: #212329
app top: #212329
zmatr-btn: #2186F4
settings: #1a1b20

*/

:root {
    --main-text-color: whitesmoke;
}

* {
    margin: 0;
}

body {
    background-color: #2e323b;
    color: var(--main-text-color);
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

h2, h3, h4, h5, h6, a {
    font-weight: lighter;
    color: var(--main-text-color);
    text-decoration: none;
}

.app-container {
    width: 100vw;
    height: 100vh;
    min-width: 300px;
    display: inline-grid;
    grid: 10% 15% 120% 7% / 20% 60% 20%;
    overflow: auto;
}

.main-app-container {
    background-color: #212329;
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-container {
    background-color: #212329;
    grid-area: 1 / 1 / 1 / 4;
    padding-left: 20%;
    padding-right: 20%;
    display: inline-grid;
    grid-template-rows: calc((100% - 20px) / 2) 20px calc((100% - 20px) / 2);
}

.title {
    min-width: 406px;
}

.dummy-container {
    display: flex;
    justify-content: space-between;
    grid-row: 2 / 2;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 18%;
    min-width: 150px;
}

.expression-input-container {
    grid-area: 2 / 2 / 2 / 2;
    display: inline-grid;
    grid: calc(80% - 30px) 30px 20% / calc(100% - 140px) 10px 130px;
}

.expression-input {
    grid-area: 2 / 1 / 2 / 1;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    font-size: 1rem;
}

.calculate-btn {
    grid-area: 2 / 3 / 2 / 3;
    border: none;
    border-radius: 5px;
    font-size: 0.95rem;
    color: var(--main-text-color);
    background-color: #2186F4;
}

.calculate-btn:hover {
    cursor: pointer;
}

.plot-toggles-container {
    display: inline-grid;
    grid: 0% 90% 10% / 5% 30% 2% 60% 3%;
    height: 60%;
    /* border: 1px solid red; */
}

.toggles-container {
    grid-area: 2 / 2 / 2 / 2;
    display: inline-grid;
    grid: 6% 89% 5% / 7% 86% 7%;
    /* border: 1px solid red; */
}

.toggles {
    grid-area: 2 / 2 / 2 / 2;
    display: inline-grid;
    grid: 2% 34px 5% 30px 5% 30px 5% 43px 5% 30px 5% 30px 3% 30px 4% 30px 5% / 100%;
    background-color: #2e323b;
    border-radius: 7px;
    padding: 10px;
}

/* EXPERIMENTAL TOGGLES BEGINNING */

#algo-dropdown {
    grid-area: 2 / 1 / 2 / 2;
}

.toggles h5, .latex-markdown {
    display: block;
    margin-top: auto;
    margin-bottom: 7px;
}

.toggles input {
    background-color: #2e323b;
    color: var(--main-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-text-color);
}

.x-coord-input {
    grid-area: 4 / 1 / 4 / 2;
    display: flex;
    justify-content: space-between;
}

.y-coord-input {
    grid-area: 6 / 1 / 6 / 2;
    display: flex;
    justify-content: space-between;
}

.descent-direction-container {
    grid-area: 8 / 1 / 8 / 2;
    display: flex;
    justify-content: space-between;
}

.step-size-container {
    grid-area: 10 / 1 / 10 / 2;
    display: flex;
    justify-content: space-between;
}

.gradient-norm-container {
    grid-area: 12 / 1 / 12 / 2;
    display: flex;
    justify-content: space-between;
}

.show-3d-toggle {
    grid-area: 14 / 1 / 14 / 2;
    display: flex;
    justify-content: space-between;
}

.show-3d-text {
    line-height: 35px;
    height: 100%;
}

.toggle-3d {
    display: block;
    margin-top: auto;
    margin-bottom: 0;
}


.step-reset-container {
    grid-area: 16 / 1 / 16 / 2;
    display: flex;
    justify-content: space-between;
}

.step-reset-container > button {
    background-color: #2e323b;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    width: 45%;
}

button:hover {
    cursor: pointer;
}

/* EXPERIMENTAL TOGGLES END */


.contour-plot-container {
    grid-area: 2 / 4 / 2 / 4;
}

.contour-plot {
    width: 100%;
    height: 100%;
}

.settings-container {
    display: inline-grid;
    grid: 15px 30px 3% 36px 3% 30px 3% 30px 3% 30px 6% 35px 3% 35px 5% / 7% 86% 7%;
    background-color: #1a1b20;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* EXPERIMENTAL SETTINGS STYLES START */

.settings-title {
    grid-area: 2 / 2 / 2 / 3;
}

.colorscale-container {
    display: flex;
    justify-content: space-between;
    grid-area: 4 / 2 / 4 / 3;
}

#colorscale-dropdown {
    width: 30%;
}

.settings-container input {
    background-color: #1a1b20;
    color: var(--main-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-text-color);
}

.toggle-start-container {
    display: flex;
    justify-content: space-between;
    grid-area: 6 / 2 / 6 / 3;
}

.toggle-stop-container {
    display: flex;
    justify-content: space-between;
    grid-area: 8 / 2 / 8 / 3;
}

.toggle-step-container {
    display: flex;
    justify-content: space-between;
    grid-area: 10 / 2 / 10 / 3;
}

.accuracy-container {
    display: flex;
    justify-content: space-between;
    grid-area: 12 / 2 / 12 / 3;
}

.smoothing-container {
    display: flex;
    justify-content: space-between;
    grid-area: 14 / 2 / 14 / 3;
}

.step-slider {
    width: 40%;
    padding-right: 0 !important;
}


/* EXPERIMENTAL SETTINGS STYLES END */


.footer-container {
    background-color: black;
    grid-area: 4 / 1 / 4 / 4;
    display: inline-grid;
    grid: calc(55% - 7px) 14px calc(45% - 7px) / 21% 58% 21%;
}

.centered-text {
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.footer-rhs-links {
    display: flex;
    justify-content: space-between;
    width: 28%;
    min-width: 250px;
}

.footer-container h6 {
    font-size: 0.8rem;
}

@media screen and (max-width: 650px) {
    
    .app-container {
        grid: 10% 20% 200% 20% / 0% 100% 0%;
    }
    
    .expression-input-container {
        display: inline-grid;
        grid: calc(85% - 80px) 35px 5px 35px 15% / 100%;
    }    

    .expression-input {
        grid-area: 2 / 1 / 2 / 1;
    }
    
    .calculate-btn {
        grid-area: 4 / 1 / 4 / 1;
    }

    .plot-toggles-container {
        grid: 5% 40% 10% 40% 5% / 10% 80% 10%;
    }
    
    .toggles-container {
        grid-area: 2 / 2 / 2 / 2;
    }
    
    .contour-plot-container {
        grid-area: 4 / 2 / 4 / 2;
    }

    .settings-container {
        grid: 5% 40% 10% 40% 5% / 10% 80% 10%;
    }
    
    .left-side-settings {
        grid-area: 2 / 2 / 2 / 2;
    }
    
    .right-side-settings {
        grid-area: 4 / 2 / 4 / 2;
    }

}

/* OVERRIDING BUILT-IN DCC CLASSES */

.rc-slider-track {
    background-color: darkslategray;
}

.rc-slider-rail {
    background-color: black;
}

.rc-slider-dot, .rc-slider-dot-active{
    background-color: darkslategray;
    border: 2px solid var(--main-text-color);
}

.rc-slider-handle {
    background-color: darkslategray;
    border: 2px solid var(--main-text-color);
}

.rc-slider-mark-text, .rc-slider-mark-text-active {
    color: var(--main-text-color);
}

.start-stop-step-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    width: 60%;
}

.start-stop-step-element > Div {
    color: var(--main-text-color);
    padding-bottom: 5px;
}

.start-stop-step-element > Input {
    width: 60%;
}

.sc-bxivhb, .gJuplL, .daq-booleanswitch--light__background {
    background: black !important;
    border: none !important;
    width: 41px !important;
}

.sc-ifAKCX, .dlqMgb, .daq-booleanswitch--light__button {
    background: darkslategray !important;
    border: 1px solid black !important;
    height: 20px !important;
    width: 20px !important;
}

.sc-ifAKCX:hover, .dlqMgb:hover, .daq-booleanswitch--light__button:hover {
    cursor: pointer !important;
}
.Select-value {
    background-color: white !important;
    color: black !important;
}

.Select-control {
    border: none !important;
    box-shadow: none !important;
}
/* 

.Select-value-label {
    color: var(--main-text-color) !important;
}

.Select-menu-outer {
    background-color: black !important;
    border: none !important;
    color: var(--main-text-color) !important;
} */

.Select-menu-outer {
    color: black !important;
    border: none !important;
}
